body {
    margin: 0;
    font-family: Arial;
    background: #f4f6f9;
}

.dashboard {
    display: flex;
}

/* SIDEBAR */
.sidebar {
    width: 220px;
    height: 100vh;
    background: #111827;
    color: white;
    padding: 20px;
}

.sidebar a {
    display: block;
    color: #ccc;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 6px;
}

.sidebar a:hover {
    background: #1f2937;
    color: white;
}

/* MAIN */
.main {
    flex: 1;
    padding: 20px;
}

/* CARDS */
.cards {
    display: flex;
    gap: 15px;
}

.card-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
}

/* TOOLBAR */
.toolbar {
    display: flex;
    gap: 10px;
    margin: 10px 0;
}

.toolbar input, .toolbar select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

/* TABLE */
table {
    width: 100%;
    background: white;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

/* FORM */
.form-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}

input {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
}

/* BUTTON */
button {
    background: #2563eb;
    color: white;
    padding: 8px;
    border: none;
    width: 100%;
    margin-top: 10px;
    border-radius: 6px;
}

/* MODAL */
.modal {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}

.modal-content {
    background: white;
    padding: 20px;
    width: 300px;
    margin: 10% auto;
    border-radius: 10px;
}



.dash-header {
    margin-bottom: 20px;
}

.dash-header h2 {
    margin: 0;
}

.dash-header p {
    color: gray;
    margin-top: 5px;
}

/* KPI COLORS */
.card-box.primary { border-left: 5px solid #2563eb; }
.card-box.green { border-left: 5px solid #16a34a; }
.card-box.orange { border-left: 5px solid #f59e0b; }
.card-box.purple { border-left: 5px solid #8b5cf6; }

/* INSIGHTS */
.insight-box {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.insight-card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    flex: 1;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}